form {
    min-width: 500px;
    margin: 0 auto;
    margin-bottom: 10px;
}


* {
    color: dimgrey;
}

a   {
    text-decoration: none;
}
td {
    padding: 5px;
}

thead  td {
    background-color: #cccccc;
    font-weight: 700;
}

table {
	border-collapse: collapse;
	border: 1px solid black;
}
td {
	border: 1px solid black;
}

